.containerTP {
  background-color: #fff;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

.coluna-aviao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20%;
  height: 100vh;
}

.coluna-aviao::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  transform: translateX(-50%);
  width: 20%;
  height: 240vh;
  background-color: #93c9ec;
}

.coluna-aviao .aviao {
  width: 10rem;
  height: 10rem;
  position: fixed;
  top: 30%;
  left: 4.4%;
  transform: translateX(-50%) rotate(180deg);
  overflow: hidden;
}

.coluna-aviao .cloud {
  width: auto;
  height: 5rem;
  overflow: hidden;
}

.coluna-aviao .cloud1 {
  top: 20%;
  left: 30%;
}

.coluna-aviao .cloud2-2 {
  top: 60%;
  left: 0%;
  z-index: 100;
}

.coluna-aviao .cloud3 {
  top: 110%;
  left: -5%;
}

.coluna-aviao .cloud3-2 {
  top: 150%;
  left: 30%;
  z-index: 100;
}

.coluna-aviao .cloud1-2 {
  top: 230%;
  left: -7%;
  z-index: 100;
}

.coluna-aviao .cloud2 {
  top: 190%;
  left: 10%;
  z-index: 100;
}

.wrapper-box {
  margin: 0 auto;
  position: relative;
  max-width: 60rem;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 10rem;
  height: 80px;
  width: 80%;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  justify-content: space-between;
  overflow: hidden;
}

.wrapper-box .btn {
  background-color: #fff;
  color: #999;
  border: none;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 10px #999;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
  position: absolute;
}

.wrapper-box .btn:first-of-type {
  top: 50%; 
  left: 1rem; 
  transform: translateY(-50%);
}

.wrapper-box .btn:last-of-type {
  top: 50%; 
  right: 1rem; 
  transform: translateY(-50%);
}